.navbar-brand {
 font-family: 'bitter';
 font-weight: 700;
 color: aliceblue;
}
.nav-item{
    font-family: 'bitter';
    font-weight: 600;
    color: aliceblue;
   }


  .navbar-brand {
    font-size: 1.5rem;
  }

  .navbar-nav .nav-link {
    color: #ffffff;
    margin-right: 30px;
  }
  

  .navbar-nav .nav-link:hover {
    color: #17a2b8;
  }

  

  .dropdown-menu {
    background-color:black;
  }

  .dropdown-item {
    color: #ffffff;
  }
  .dropdown-item:hover {
    background-color: #343a40;
    color: #17a2b8;
  }

  .nav-link  {
    color: #868e96;
    font-family: "bitter";
    font-size: larger;
    font-weight: 400;
  }
  *{
    background-color: black;
  }


  
 
  
  