footer {
    background-color:black; /* Change this to your desired background color */
    color: #fff; /* Change this to your desired text color */
    padding: 20px 0;
    text-align: center;
    font-family: 'bitter';
    font-weight: 800;
  }

  footer h2 {
    max-width: 100px; /* Adjust the max-width of the logo as needed */
    height: auto;
  }