<section id="thehero">
    <div class="the-inner">
      <div class="container">
        <div class="row">
          <div class="col">
            <h1>A Company with a Culture More Relevant Than our Competitors Culture</h1>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p>
              We now work in a hut facing the sea on the coast of
              <a >Chennai City, INDIA.</a>
              The stock image behind this block is what we think a real agency hut should look like.
              We have over 10 years of experience as digital nomads (we basically coined the term).
              Our team is projected to stay in more than seven various countries as an expat in the next twenty years.
            </p>
          </div>
        </div>
        <div class="row points">
          <div class="col-md-3">
            <p>Available After Midnight</p>
          </div>
          <div class="col-md-3">
            <p>100% Apple & Mac</p>
          </div>
          <div class="col-md-3">
            <p>TLDs With .io Only</p>
          </div>
          <div class="col-md-3">
            <p>Support Via Slack</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  

<!-- Mission and Vision Section -->
<section class="bg-light py-5 mt-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <h2 class="display-5">Our Mission</h2>
                <p>We aim to empower businesses by providing them with robust and scalable software solutions that enhance efficiency, drive growth, and adapt to the evolving digital landscape.We aim to empower businesses by providing them with robust and scalable software solutions</p>
            </div>
            <div class="col-lg-6">
                <h2 class="display-5">Our Vision</h2>
                <p>To be a global leader in software innovation, recognized for our commitment to quality, customer satisfaction, and the positive impact our solutions bring to businesses of all sizes.We aim to empower businesses by providing them with robust and scalable software solutions</p>
            </div>
        </div>
    </div>
</section>
<app-review></app-review>
<!-- Team Section -->

